/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif; */
/* color: white; */
/* } */
/* body {
  /* border: 1px solid white; */
/* background-image: linear-gradient(to left, black, rgba(19, 18, 18, 0.774)); */
/* } */
